$white: #fff;
$active: #00bc8c;
$fontColor: #323232;
$linkColor: #607d8b;
$libreBaskerville: 'Libre Baskerville', serif;
$robotoMono: 'Roboto Mono', monospace;
$poppins: 'Poppins', sans-serif;

//dark theme
$darkMain: #16171b;
$darkSecondary: #202125;
$darkFontColor: #eee;
$darkTextMuted: #a5b4c1;